<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><img src="..\assets\images\logo.jpg" style="height: 20%; width: 95px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" [routerLink]="['']">Home</a>
            <a class="nav-item nav-link" [routerLink]="['login']">Login</a>
            <a class="nav-item nav-link" [routerLink]="['about us']">About Us</a>
            <a
                (click)="logout()"
                *ngIf="isLoggedIn"
                mat-icon-button
                class="example-icon favorite-icon mr20 ml20"
                aria-label="Example icon-button with heart icon"
            >
                Logout
            </a>

            <button
                *ngIf="isLoggedIn && user"
                class="example-icon favorite-icon ml20"
                mat-button
                routerLink="/admin/profile"
                aria-label="Example icon-button with heart icon"
            ></button>
        </div>
    </div>
</nav>